.dart_tool/
.flutter-plugins*
.tools/
build/

*.log
windows/flutter/ephemeral/
.idea/
*.iml
.agents/  
.obsidian/
_Build_Logs/
.PRM393_FAP_Attendance_Team_Assignment_Final.md
/config/local.json
.firebase/
